#topbt {
  height: fit-content;
  width: fit-content;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #004E38CC;
    color: white;
    cursor: pointer;
    padding: 2px;
    border-radius: 50px;
  }
  
  #topbt:hover {
    background-color: #00713DCC;
  }
.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #004E38;
}
.main{
  margin-top: 80px;
  color: #004E38;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 120px;
}
.btext{ 
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
h2,h5{
  font-weight: bold;
}
h5{
  margin-left: 10px;
}
.btndiv{
  text-align: center;
}
button{
  margin-top: 15px;
  width: 70px;
  background-color: #004E38;
  color: white;border-radius: 15px;
}
#cantinaimg{
  padding: 15px;
  min-width: 360px;
  max-width: 30%;
  height: auto;
}
#refeicao{
  padding: auto;
  width: auto;
  height: auto;
}
table{
  margin: 15px;
}